<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>org.iaconelli.xo-mirror</string>
  <key>ProgramArguments</key><array><string>__HOME__/bin/xo-mirror.sh</string></array>
  <key>StartCalendarInterval</key><array>
    <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>30</integer></dict>
  </array>
  <key>StandardOutPath</key><string>__HOME__/logs/xo-mirror.log</string>
  <key>StandardErrorPath</key><string>__HOME__/logs/xo-mirror.log</string>
</dict></plist>
